{% extends "base.html" %}

{% block title %}
    Chór Kisielice
{% endblock %}


{% block content %}

<section class="container my-5">
    <h1 class="text-center text-secondary">Witaj na stronie</h1>
    <h2 class="text-center text-secondary">{{name}}</h2>
</section>

<section class="container my-5">
    <h2 class="text-center">Dołącz do nas!</h2>
    <p class="text-center">
        Jesteśmy chórem pełnym pasji i niezwykłej energii. <br>
        Działamy od 6 października 2023 pod czujnym okiem Przemysława Pietrzaka. <br>
        Jeśli chcesz do nas dołączyć, napisz do nas. Kontakt poniżej.
    </p>
</section>

<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p>„Muzyka raz dopuszczona do duszy staje się rodzajem ducha i nigdy nie umiera”</p>
        <p>- Edward Bulwer-Lytton</p>
    </div>
</footer>

{% endblock %}